@import url(normalize.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark: #111;
    --black: #333;
    --beige: #FEDB8D;
}

body {
    min-height: 100vh;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 380px;
    background-color: var(--black);
}

h1 {
    color: var(--beige);
}